body {
  padding-top: 20%;
  background-color: lightslategrey;
}

h1 {
  color: gainsboro;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px darkslategrey;
}
